# Project place file
/*.rbxlx
/*.rbxmx
/*.rbxm

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Wally packages.
Packages/

# Moonwave build directory.
build/

# Any and all lock files.
*.lock